
h1, h2, h3{
  font-family: 'Lobster', cursive;
  font-weight: lighter;
}

h2{
  font-size: 12vw;
}

h3{
  font-size: 6vw;
  font-family: 'helvetica', sans-serif;
}

h4{
  font-size: 3vw;
  font-family: 'helvetica', sans-serif;
}

.masthead{
  background-image: linear-gradient( orange, magenta);
}


.footer.footer {
  font-family: 'garamond', serif;
  background-image: linear-gradient(magenta, orange);
}


.navbar {
  background-color: transparent;
}

.navbar2 {
  background-color: magenta;
}
