body {
  position: relative;
}


h1, h2{
  font-family: 'Lobster', cursive;
  font-weight: lighter;
}

h2{
  font-size: 12vw;
}

h3{
  font-size: 6vw;
  font-family: 'helvetica', sans-serif;
  font-weight: lighter;

}

h4{
  font-size: 3vw;
  font-family: 'helvetica', sans-serif;
  font-weight: lighter;

}

.masthead{
  background-image: linear-gradient( orange, magenta);
}

.footer.footer {
  background-image: linear-gradient(magenta, orange);
}


footer h1 {
  color: white;
}


footer p {
  color: white;
}


.navbar {
  background-color: transparent;
}

.navbar2 {
  background-color: magenta;
}
