<!-- Footer -->
<footer id = "contact" class="footer text-center">
  <h1 class="mb-4">press buttons to contact</h1>

  <div class="container">
    <ul class="list-inline mb-5">
      <!-- <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="#">
          <i class="icon-social-facebook"></i>
        </a>
      </li> -->

      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3"
                  href="mailto:louese@louese.com">
          <i class="icon-envelope"></i>
        </a>
      </li>


      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/louesejackson">
          <i class="icon-social-twitter"></i>
        </a>
      </li>

      <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="https://github.com/louesejackson/">
          <i class="icon-social-github"></i>
        </a>
      </li>


      <!-- <li class="list-inline-item">
        <a class="social-link rounded-circle text-white mr-3" href="#">
          <i class="icon-social-pinterest"></i>
        </a>
      </li> -->
    </ul>
  </div>
  <p>Copyright &copy; 2019, Mary Louese Jackson.</p>
</footer>
