<!DOCTYPE html>
<html lang="en">

{% include header.html %}


<body id="page-top">

  <!-- navigation.html -->
  {% include navigation2.html %}


  <div id = "startchange" >
    <section class="content-section" id="projects">
      <div class="container">
        <!-- List of Projects Previews -->
        {% include project.html %}
      </div>
    </section>
</div>

  <section id="contact" class="content-section bg-primary text-white">
    <div class="container text-center">
      <h1 class="mb-4">press buttons to contact</h1>
      <a href="mailto:louese@gmail.com" class="btn btn-xl btn-light mr-4">Freelance</br>louesejackson@gmail.com</a>
      <a href="mailto:mary4.jackson@uwe.ac.uk" class="btn btn-xl btn-dark mr-4">Teaching</br>mary4.jackson@uwe.ac.uk</a>
    </div>
  </section>

  <!-- Footer -->
  {% include footer.html %}

  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <script src="/js/stylish-portfolio.js"></script>
</body>

</html>
