<!DOCTYPE html>
<html lang="en">

{% include header.html %}


<body id="top">

  <!-- navigation.html -->
  {% include navigation2.html %}


  <div id = "startchange" >
    <section class="content-section" id="projects">
      <div class="container">
        <!-- List of Projects Previews -->
        {% include project.html %}
      </div>
    </section>
</div>



  <!-- Footer -->
  {% include footer.html %}

  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <script src="/js/stylish-portfolio.js"></script>
</body>

</html>
